name: Code Testing

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
    branches: [ "main", "feat/world_implementation" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'pull_request' ||
      github.event_name == 'push' && (
        startsWith(github.event.head_commit.message, 'fix') ||
        startsWith(github.event.head_commit.message, 'feat') ||
        startsWith(github.event.head_commit.message, 'refactor') ||
        startsWith(github.event.head_commit.message, 'perf') ||
        startsWith(github.event.head_commit.message, 'test') ||
       startsWith(github.event.head_commit.message, 'implementation') ||
        startsWith(github.ref, 'refs/tags/v')
      )

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run core tests
        run: ./gradlew :core:test --no-daemon

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: core/build/test-results/test/*.xml